@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/play/v12/6aez4K2oVqwIvtE2H68T.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/play/v12/6aez4K2oVqwIvtU2Hw.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/play/v12/6ae84K2oVqwItm4TCpQy2knT.woff2) format("woff2");
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/play/v12/6ae84K2oVqwItm4TCpAy2g.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html,
* {
  font-family: 'Play', sans-serif !important;
}

@media (min-width: 321px) {
  div.filters-menu {
    font-family: 'Play', sans-serif;
    width: 30vw;
    background-color: #161718;
    padding: 2rem 2vw 10rem 5vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }

  div.filters-menu .head {
    position: absolute;
    top: 7vw;
    right: 7vw;
  }

  div.filters-menu h5 {
    color: #DADADA;
  }

  div.filters-menu .container {
    place-self: center;
  }

  div.filters-menu .container .row > * {
    font-size: .95rem;
    border: 1px solid #B88D48;
    border-radius: 5px;
    margin: 2px;
    color: #948E8E;
    text-align: center;
    padding: 4px .5rem;
  }

  div.filters-menu .container .row > *:hover {
    background-color: #B88D48;
    color: #1A1B1D;
  }

  div.filters-menu .container.rarity .row .legendary {
    border-left: 3px solid #ff00ff;
  }

  div.filters-menu .container.rarity .row .legendary:hover {
    background: transparent;
    color: #fff;
    border: 1px solid #B88D48;
    -webkit-animation: show-legendary 2s;
            animation: show-legendary 2s;
    -webkit-box-shadow: 100vh 0 0 0 #ff00ff inset;
            box-shadow: 100vh 0 0 0 #ff00ff inset;
  }

@-webkit-keyframes show-legendary {
    from {
      -webkit-box-shadow: 1vh 0 0 0 #ff00ff inset;
              box-shadow: 1vh 0 0 0 #ff00ff inset;
    }

    to {
      -webkit-box-shadow: 100vh 0 0 0 #ff00ff inset;
              box-shadow: 100vh 0 0 0 #ff00ff inset;
    }
}

@keyframes show-legendary {
    from {
      -webkit-box-shadow: 1vh 0 0 0 #ff00ff inset;
              box-shadow: 1vh 0 0 0 #ff00ff inset;
    }

    to {
      -webkit-box-shadow: 100vh 0 0 0 #ff00ff inset;
              box-shadow: 100vh 0 0 0 #ff00ff inset;
    }
}

  div.filters-menu .container.rarity .row .ancient {
    border-left: 3px solid #ff0000;
  }

  div.filters-menu .container.rarity .row .ancient:hover {
    background: transparent;
    color: #fff;
    border: 1px solid #B88D48;
    -webkit-animation: show-ancient 2s;
            animation: show-ancient 2s;
    -webkit-box-shadow: 100vh 0 0 0 #ff0000 inset;
            box-shadow: 100vh 0 0 0 #ff0000 inset;
  }

@-webkit-keyframes show-ancient {
    from {
      -webkit-box-shadow: 1vh 0 0 0 #ff0000 inset;
              box-shadow: 1vh 0 0 0 #ff0000 inset;
    }

    to {
      -webkit-box-shadow: 100vh 0 0 0 #ff0000 inset;
              box-shadow: 100vh 0 0 0 #ff0000 inset;
    }
}

@keyframes show-ancient {
    from {
      -webkit-box-shadow: 1vh 0 0 0 #ff0000 inset;
              box-shadow: 1vh 0 0 0 #ff0000 inset;
    }

    to {
      -webkit-box-shadow: 100vh 0 0 0 #ff0000 inset;
              box-shadow: 100vh 0 0 0 #ff0000 inset;
    }
}

  div.filters-menu .container.rarity .row .extra {
    border-left: 3px solid #ffcc00;
  }

  div.filters-menu .container.rarity .row .extra:hover {
    background: transparent;
    border: 1px solid #B88D48;
    -webkit-animation: show-exceedingly-rare 2s;
            animation: show-exceedingly-rare 2s;
    -webkit-box-shadow: 100vh 0 0 0 #ffcc00 inset;
            box-shadow: 100vh 0 0 0 #ffcc00 inset;
  }

@-webkit-keyframes show-exceedingly-rare {
    from {
      -webkit-box-shadow: 1vh 0 0 0 #ffcc00 inset;
              box-shadow: 1vh 0 0 0 #ffcc00 inset;
    }

    to {
      -webkit-box-shadow: 100vh 0 0 0 #ffcc00 inset;
              box-shadow: 100vh 0 0 0 #ffcc00 inset;
    }
}

@keyframes show-exceedingly-rare {
    from {
      -webkit-box-shadow: 1vh 0 0 0 #ffcc00 inset;
              box-shadow: 1vh 0 0 0 #ffcc00 inset;
    }

    to {
      -webkit-box-shadow: 100vh 0 0 0 #ffcc00 inset;
              box-shadow: 100vh 0 0 0 #ffcc00 inset;
    }
}

  div.filters-menu .container.rarity .row .rare {
    border-left: 3px solid #0000ff;
    padding: 4px 0;
  }

  div.filters-menu .container.rarity .row .rare:hover {
    background: transparent;
    color: #fff;
    border: 1px solid #B88D48;
    -webkit-animation: show-rare 2s;
            animation: show-rare 2s;
    -webkit-box-shadow: 100vh 0 0 0 #0000ff inset;
            box-shadow: 100vh 0 0 0 #0000ff inset;
  }

@-webkit-keyframes show-rare {
    from {
      -webkit-box-shadow: 1vh 0 0 0 #0000ff inset;
              box-shadow: 1vh 0 0 0 #0000ff inset;
    }

    to {
      -webkit-box-shadow: 100vh 0 0 0 #0000ff inset;
              box-shadow: 100vh 0 0 0 #0000ff inset;
    }
}

@keyframes show-rare {
    from {
      -webkit-box-shadow: 1vh 0 0 0 #0000ff inset;
              box-shadow: 1vh 0 0 0 #0000ff inset;
    }

    to {
      -webkit-box-shadow: 100vh 0 0 0 #0000ff inset;
              box-shadow: 100vh 0 0 0 #0000ff inset;
    }
}

  div.filters-menu .container.rarity .row .mythical {
    border-left: 3px solid #800080;
    padding: 4px 0;
  }

  div.filters-menu .container.rarity .row .mythical:hover {
    background: transparent;
    border: 1px solid #B88D48;
    color: #fff;
    -webkit-animation: show-mythical 2s;
            animation: show-mythical 2s;
    -webkit-box-shadow: 100vh 0 0 0 #800080 inset;
            box-shadow: 100vh 0 0 0 #800080 inset;
  }

@-webkit-keyframes show-mythical {
    from {
      -webkit-box-shadow: 1vh 0 0 0 #800080 inset;
              box-shadow: 1vh 0 0 0 #800080 inset;
    }

    to {
      -webkit-box-shadow: 100vh 0 0 0 #800080 inset;
              box-shadow: 100vh 0 0 0 #800080 inset;
    }
}

@keyframes show-mythical {
    from {
      -webkit-box-shadow: 1vh 0 0 0 #800080 inset;
              box-shadow: 1vh 0 0 0 #800080 inset;
    }

    to {
      -webkit-box-shadow: 100vh 0 0 0 #800080 inset;
              box-shadow: 100vh 0 0 0 #800080 inset;
    }
}

  div.filters-menu .container.rarity .row .common {
    border-left: 3px solid #c0c0c0;
  }

  div.filters-menu .container.rarity .row .common:hover {
    background: transparent;
    border: 1px solid #B88D48;
    -webkit-animation: show-common 2s;
            animation: show-common 2s;
    -webkit-box-shadow: 100vh 0 0 0 #c0c0c0 inset;
            box-shadow: 100vh 0 0 0 #c0c0c0 inset;
  }

@-webkit-keyframes show-common {
    from {
      -webkit-box-shadow: 1vh 0 0 0 #c0c0c0 inset;
              box-shadow: 1vh 0 0 0 #c0c0c0 inset;
    }

    to {
      -webkit-box-shadow: 100vh 0 0 0 #c0c0c0 inset;
              box-shadow: 100vh 0 0 0 #c0c0c0 inset;
    }
}

@keyframes show-common {
    from {
      -webkit-box-shadow: 1vh 0 0 0 #c0c0c0 inset;
              box-shadow: 1vh 0 0 0 #c0c0c0 inset;
    }

    to {
      -webkit-box-shadow: 100vh 0 0 0 #c0c0c0 inset;
              box-shadow: 100vh 0 0 0 #c0c0c0 inset;
    }
}

  main.main {
    display: grid;
    grid-template-areas: "f1 s2" "t3 f4";
    grid-template-columns: 2.8fr 6.5fr;
    grid-template-rows: 1fr auto;
    background: #121413;
  }

  main.main .first {
    padding-left: 5vw;
    color: #B88D48;
    font-weight: bold;
    width: 100%;
    grid-area: f1;
    border-right: 1px solid #443F40;
    border-bottom: 1px solid #443F40;
    padding-top: 1rem;
  }

  main.main .second {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    grid-area: s2;
    padding-top: 1rem;
    border-left: 1px solid #443F40;
    border-bottom: 1px solid #443F40;
  }

  main.main .second .items {
    position: relative;
    left: -4.8rem;
    top: -1.5rem;
  }

  main.main .second > div:nth-child(1) {
    margin: .75rem auto;
  }

  main.main .second .row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 0;
    margin-right: 0;
  }

  main.main .second .reset-filters {
    padding-left: 7rem;
  }

  main.main .third {
    width: 100%;
    grid-area: t3;
    border-top: 1px solid #443F40;
    border-right: 1px solid #443F40;
  }

  main.main .fourth {
    width: 100%;
    grid-area: f4;
    border-left: 1px solid #443F40;
    border-top: 1px solid #443F40;
  }

  main.main .fourth .container {
    padding: 2rem 5rem;
  }

  main.main .fourth .pages {
    width: 100%;
  }

  main.main .fourth .pages > div {
    width: 40%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr 3fr 1fr;
    place-items: center;
    color: #948E8E;
  }

  main.main .fourth .pages .current-page {
    border-bottom: 2px solid #948E8E;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  main.main .fourth .pages .left-arrow {
    position: relative;
    right: -10%;
  }

  main.main .fourth .pages .right-arrow {
    position: relative;
    left: -10%;
  }

  main.main .fourth .pages .left-btn,
  main.main .fourth .pages .right-btn {
    background: transparent;
    border: none;
    color: #948E8E;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    display: inline-block;
    margin: 1rem 0;
    text-align: center;
    text-decoration: none;
    min-width: 3rem;
    height: 2rem;
    line-height: 1.7rem;
  }

  main.main .fourth .pages .left-btn:before,
  main.main .fourth .pages .left-btn:after,
  main.main .fourth .pages .right-btn:before,
  main.main .fourth .pages .right-btn:after {
    position: absolute;
    content: '';
    width: 100%;
    left: 0;
    height: 0.93rem;
  }

  main.main .fourth .pages .left-btn:before,
  main.main .fourth .pages .right-btn:before {
    -webkit-transform: perspective(5px) rotateX(3deg);
            transform: perspective(5px) rotateX(3deg);
  }

  main.main .fourth .pages .left-btn:after,
  main.main .fourth .pages .right-btn:after {
    top: 1rem;
    -webkit-transform: perspective(5px) rotateX(-3deg);
            transform: perspective(5px) rotateX(-3deg);
  }

  main.main .fourth .pages .left-btn.border-btn:before,
  main.main .fourth .pages .left-btn.border-btn:after,
  main.main .fourth .pages .right-btn.border-btn:before,
  main.main .fourth .pages .right-btn.border-btn:after {
    border: 2px solid #B88D48;
  }

  main.main .fourth .pages .left-btn.border-btn:before,
  main.main .fourth .pages .right-btn.border-btn:before {
    border-bottom: none;
  }

  main.main .fourth .pages .left-btn.border-btn:after,
  main.main .fourth .pages .right-btn.border-btn:after {
    border-top: none;
  }

  main.main .fourth .pages .left-btn.border-btn:hover:before,
  main.main .fourth .pages .left-btn.border-btn:hover:after,
  main.main .fourth .pages .right-btn.border-btn:hover:before,
  main.main .fourth .pages .right-btn.border-btn:hover:after {
    background: #B88D4840;
  }

  main.main .fourth .pages .left-btn.border-btn:hover,
  main.main .fourth .pages .right-btn.border-btn:hover {
    color: #fff;
  }

  .search {
    padding-left: 0;
  }

  .search input {
    background: transparent;
    border: none;
    outline: none;
    color: #443F40;
    padding-left: .9rem;
    padding-right: 2rem;
    width: 100%;
    z-index: 1;
  }

  .search label .inside-input {
    background: transparent;
    border: none;
    z-index: 1;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    display: inline-block;
    color: #B88D48;
    text-align: center;
    text-decoration: none;
    line-height: 1.7rem;
    min-width: 3rem;
    height: 1rem;
  }

  .search label .inside-input:before,
  .search label .inside-input:after {
    position: absolute;
    content: '';
    width: 100%;
    left: 0;
    height: 0.98rem;
  }

  .search label .inside-input:before {
    -webkit-transform: perspective(3px) rotateX(3deg);
            transform: perspective(3px) rotateX(3deg);
  }

  .search label .inside-input:after {
    top: 1.1rem;
    -webkit-transform: perspective(3px) rotateX(-3deg);
            transform: perspective(3px) rotateX(-3deg);
  }

  .search label .inside-input.border-btn:before,
  .search label .inside-input.border-btn:after {
    border: 2px solid #B88D48;
  }

  .search label .inside-input.border-btn:before {
    border-bottom: none;
  }

  .search label .inside-input.border-btn:after {
    border-top: none;
  }

  .search label .inside-input.border-btn:hover:before,
  .search label .inside-input.border-btn:hover:after {
    background: #B88D4840;
  }

  .search label .inside-input.border-btn:hover {
    color: #fff;
  }

  .search label.search-input {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    height: 2.2rem;
    line-height: 1.7rem;
    margin: 1rem 0 1rem 1rem;
    font-size: 1.1rem;
  }

  .search label.search-input:before,
  .search label.search-input:after {
    position: absolute;
    content: '';
    width: 100%;
    left: 0;
    height: 1rem;
  }

  .search label.search-input:before {
    -webkit-transform: perspective(13px) rotateX(3deg);
            transform: perspective(13px) rotateX(3deg);
  }

  .search label.search-input:after {
    top: 1rem;
    -webkit-transform: perspective(13px) rotateX(-3deg);
            transform: perspective(13px) rotateX(-3deg);
  }

  .search label.search-input.border-input:before,
  .search label.search-input.border-input:after {
    border: 2px solid #443F40;
  }

  .search label.search-input.border-input:before {
    border-bottom: none;
  }

  .search label.search-input.border-input:after {
    border-top: none;
  }

  .search label.search-input.border-input:hover {
    color: #fff;
  }

  .search label.search-input img {
    padding-left: .25rem;
    width: 1.25rem;
  }

  .reset-filters a {
    color: #948E8E;
    font-size: 1.1em;
    text-decoration: none;
  }

  .reset-filters a svg {
    width: 1.2rem;
    height: 1.2rem;
  }

  .items > div {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 50px;
    border: 2px solid #443F40;
    padding: .5rem;
    color: #443F40;
    margin-left: 3rem;
    font-size: .9rem;
  }

  .items > div div {
    padding-top: 0;
  }

  .items .num {
    text-align: center;
    color: #B88D48;
  }

  .shop-item {
    margin: 1.5rem auto;
    background-color: #1A1B1D;
    border: 2px solid #121413;
    border-bottom: 3px solid #99ccff;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Play', sans-serif;
    color: #fff;
    font-size: 0.7rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .shop-item img[alt=Item] {
    width: 190px;
    height: 140px;
    background: -o-radial-gradient(50% 50%, 50% 50%, #43413F 0%, rgba(35, 33, 29, 0) 100%);
    background: radial-gradient(50% 50% at 50% 50%, #43413F 0%, rgba(35, 33, 29, 0) 100%);
  }

  .shop-item h6 {
    font-size: 0.7rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  .shop-item .title {
    padding: .75rem 1rem;
  }

  .shop-item .title img {
    padding: 0 .5rem 0 .3rem;
  }

  .shop-item .title + span {
    position: absolute;
    color: #B88D48;
    top: 2rem;
    padding-left: 7.7rem;
  }

  .shop-item .hover-view {
    display: none;
  }

  .shop-item:hover {
    border: 2px solid #443F40;
    border-bottom: 3px solid #99ccff;
  }

  .shop-item:hover img[alt=Item],
  .shop-item:hover .title span,
  .shop-item:hover .title h6,
  .shop-item:hover .stat {
    opacity: .2;
  }

  .shop-item:hover .hover-view {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    place-items: center;
    top: 0;
    position: absolute;
    margin: 5rem auto;
    width: 190px;
  }

  .shop-item:hover .hover-view div {
    padding-top: .5rem;
  }

  .shop-item:hover .hover-view div a {
    color: #B88D48;
    font-weight: bold;
    font-size: .8rem;
  }

  .shop-item:hover .hover-view div button {
    color: #DADADA;
    background-color: #27AE60;
    border: none;
    padding: .3rem 1.5rem;
    border-radius: 2px;
  }

  .shop-item:hover .hover-view div .sell {
    padding-top: 1rem;
  }

  .shop-item .sending-timer {
    margin-top: 1rem;
    background: #443F40;
    color: #dadada;
    font-weight: bold;
    font-size: 1.2em;
    border-radius: 5px;
    padding-right: .5rem;
    padding-left: .5rem;
  }

  .shop-item .sending-timer p {
    margin-bottom: 0;
  }

  .shop-item .sending-timer p:last-child {
    padding-top: 0;
    color: #948E8E;
    text-align: center;
  }

  main.main.myInventory {
    background: #121413;
  }

  main.main.myInventory .grid-areas {
    width: 99vw;
    display: grid;
    grid-template-areas: "f s";
    grid-template-columns: 2fr 9fr;
    background: #121413;
  }

  main.main.myInventory .grid-areas .first-area {
    padding-top: 2rem;
    background: #161718;
  }

  main.main.myInventory .grid-areas .first-area ul {
    list-style: none;
  }

  main.main.myInventory .grid-areas .first-area ul li {
    padding-top: 1rem;
  }

  main.main.myInventory .grid-areas .first-area ul li a {
    color: #948E8E;
  }

  main.main.myInventory .grid-areas .first-area ul li .hex {
    padding-right: .25rem;
    padding-left: .25rem;
    background: transparent;
    border: none;
    z-index: 1;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    line-height: 2rem;
    min-width: 3rem;
    height: 1rem;
  }

  main.main.myInventory .grid-areas .first-area ul li .hex:before,
  main.main.myInventory .grid-areas .first-area ul li .hex:after {
    position: absolute;
    content: '';
    width: 100%;
    left: 0;
    height: 1.1rem;
  }

  main.main.myInventory .grid-areas .first-area ul li .grey-hex {
    color: #948E8E;
  }

  main.main.myInventory .grid-areas .first-area ul li .grey-hex.border-hex:before,
  main.main.myInventory .grid-areas .first-area ul li .grey-hex.border-hex:after {
    border: 2px solid #948E8E;
  }

  main.main.myInventory .grid-areas .first-area ul li .grey-hex.border-hex:hover:before,
  main.main.myInventory .grid-areas .first-area ul li .grey-hex.border-hex:hover:after {
    background: #948E8E40;
  }

  main.main.myInventory .grid-areas .first-area ul li .grey-hex.border-hex:before {
    border-bottom: none;
  }

  main.main.myInventory .grid-areas .first-area ul li .grey-hex.border-hex:after {
    border-top: none;
  }

  main.main.myInventory .grid-areas .first-area ul li .grey-hex.border-hex:hover {
    color: #fff;
  }

  main.main.myInventory .grid-areas .first-area ul li .grey-hex:before {
    -webkit-transform: perspective(8px) rotateX(3deg);
            transform: perspective(8px) rotateX(3deg);
  }

  main.main.myInventory .grid-areas .first-area ul li .grey-hex:after {
    top: 1.1rem;
    -webkit-transform: perspective(8px) rotateX(-3deg);
            transform: perspective(8px) rotateX(-3deg);
  }

  main.main.myInventory .grid-areas .first-area ul li .gold-hex {
    color: #B88D48;
  }

  main.main.myInventory .grid-areas .first-area ul li .gold-hex.border-hex:before,
  main.main.myInventory .grid-areas .first-area ul li .gold-hex.border-hex:after {
    border: 2px solid #B88D48;
  }

  main.main.myInventory .grid-areas .first-area ul li .gold-hex.border-hex:hover:before,
  main.main.myInventory .grid-areas .first-area ul li .gold-hex.border-hex:hover:after {
    background: #B88D4840;
  }

  main.main.myInventory .grid-areas .first-area ul li .gold-hex.border-hex:before {
    border-bottom: none;
  }

  main.main.myInventory .grid-areas .first-area ul li .gold-hex.border-hex:after {
    border-top: none;
  }

  main.main.myInventory .grid-areas .first-area ul li .gold-hex.border-hex:hover {
    color: #fff;
  }

  main.main.myInventory .grid-areas .first-area ul li .gold-hex:before {
    -webkit-transform: perspective(14px) rotateX(3deg);
            transform: perspective(14px) rotateX(3deg);
  }

  main.main.myInventory .grid-areas .first-area ul li .gold-hex:after {
    top: 1.1rem;
    -webkit-transform: perspective(14px) rotateX(-3deg);
            transform: perspective(14px) rotateX(-3deg);
  }

  main.main.myInventory .grid-areas .second-area {
    width: 100%;
    display: grid;
    grid-template-areas: "h h" "l r";
    grid-template-columns: 1fr 1fr;
  }

  main.main.myInventory .grid-areas .second-area .head {
    color: #dadada;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    grid-area: h;
  }

  main.main.myInventory .grid-areas .second-area .head .trade {
    padding-bottom: 2rem;
  }

  main.main.myInventory .grid-areas .second-area .head .trade p {
    color: #948E8E;
    font-size: .85em;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin: 1rem 2rem;
  }

  main.main.myInventory .grid-areas .second-area .head .trade label {
    margin: auto 2rem;
    width: 80%;
  }

  main.main.myInventory .grid-areas .second-area .head .trade input {
    background: transparent;
    border-radius: 5px;
    width: 100%;
    padding-left: .65rem;
    padding-right: .65rem;
  }

  main.main.myInventory .grid-areas .second-area .head .trade a {
    font-size: .85em;
  }

  main.main.myInventory .grid-areas .second-area .head .trade .default {
    border: 1px solid #948E8E;
    color: #948E8E;
  }

  main.main.myInventory .grid-areas .second-area .head .trade .default ~ a {
    color: #948E8E;
    margin: .5rem auto;
  }

  main.main.myInventory .grid-areas .second-area .head .trade .incorrect {
    border: 1px solid #AA2727;
    color: #aa2727;
  }

  main.main.myInventory .grid-areas .second-area .head .trade .incorrect ~ a {
    color: #B88D48;
    padding-right: .5rem;
  }

  main.main.myInventory .grid-areas .second-area .head .trade .incorrect ~ button {
    background: transparent;
    border: none;
  }

  main.main.myInventory .grid-areas .second-area .head .trade .incorrect ~ button.button-inc {
    font-size: .85em;
    padding-left: .5rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    display: inline-block;
    margin: 1rem 0;
    color: #B88D48;
    text-align: center;
    text-decoration: none;
    min-width: 45px;
    height: 1.5rem;
    line-height: 1.7rem;
  }

  main.main.myInventory .grid-areas .second-area .head .trade .incorrect ~ button.button-inc:before,
  main.main.myInventory .grid-areas .second-area .head .trade .incorrect ~ button.button-inc:after {
    position: absolute;
    content: '';
    width: 100%;
    left: 0;
    height: 0.93rem;
  }

  main.main.myInventory .grid-areas .second-area .head .trade .incorrect ~ button.button-inc:before {
    -webkit-transform: perspective(5px) rotateX(3deg);
            transform: perspective(5px) rotateX(3deg);
  }

  main.main.myInventory .grid-areas .second-area .head .trade .incorrect ~ button.button-inc:after {
    top: 1rem;
    -webkit-transform: perspective(5px) rotateX(-3deg);
            transform: perspective(5px) rotateX(-3deg);
  }

  main.main.myInventory .grid-areas .second-area .head .trade .incorrect ~ button.button-inc.border-inc:before,
  main.main.myInventory .grid-areas .second-area .head .trade .incorrect ~ button.button-inc.border-inc:after {
    border: 2px solid #B88D48;
  }

  main.main.myInventory .grid-areas .second-area .head .trade .incorrect ~ button.button-inc.border-inc:before {
    border-bottom: none;
  }

  main.main.myInventory .grid-areas .second-area .head .trade .incorrect ~ button.button-inc.border-inc:after {
    border-top: none;
  }

  main.main.myInventory .grid-areas .second-area .head .trade .incorrect ~ button.button-inc.border-inc:hover:before,
  main.main.myInventory .grid-areas .second-area .head .trade .incorrect ~ button.button-inc.border-inc:hover:after {
    background: #B88D4840;
  }

  main.main.myInventory .grid-areas .second-area .head .trade .incorrect ~ button.button-inc.border-inc:hover {
    color: #fff;
  }

  main.main.myInventory .grid-areas .second-area .head .trade .incorrect ~ button.button-inc img {
    padding-left: .25rem;
    width: 1.25rem;
  }

  main.main.myInventory .grid-areas .second-area .head .trade .correct {
    border: 1px solid #B88D48;
    color: #B88D48;
  }

  main.main.myInventory .grid-areas .second-area .area-head {
    padding: 1rem;
    color: #dadada;
    display: grid;
    grid-template-columns: 8fr 1fr;
    border-bottom: 2px solid #443F40;
    font-size: 1.3em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  main.main.myInventory .grid-areas .second-area .area-head .company {
    color: #B88D48;
  }

  main.main.myInventory .grid-areas .second-area .area-head svg {
    place-self: end center;
    width: 70%;
    height: 100%;
  }

  main.main.myInventory .grid-areas .second-area .left-area {
    margin: 2rem 1rem 2rem 2rem;
    grid-area: l;
    border: 1px solid #443F40;
    background: #161718;
  }

  main.main.myInventory .grid-areas .second-area .left-area .col {
    padding: 0;
  }

  main.main.myInventory .grid-areas .second-area .right-area {
    margin: 2rem 2rem 2rem 1rem;
    grid-area: r;
    border: 1px solid #443F40;
    background: #161718;
  }

  main.main.myInventory .grid-areas .second-area .right-area .col {
    padding: 0;
  }

  main.main.sell_inventory {
    background: #121413;
  }

  main.main.sell_inventory .grid-areas {
    width: 99vw;
    display: grid;
    grid-template-areas: "f s";
    grid-template-columns: 2fr 9fr;
  }

  main.main.sell_inventory .first-area {
    padding-top: 2rem;
    background: #161718;
  }

  main.main.sell_inventory .first-area ul {
    list-style: none;
  }

  main.main.sell_inventory .first-area ul li {
    padding-top: 1rem;
  }

  main.main.sell_inventory .first-area ul li a {
    color: #948E8E;
  }

  main.main.sell_inventory .first-area ul li .hex {
    padding-right: .25rem;
    padding-left: .25rem;
    background: transparent;
    border: none;
    z-index: 1;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    line-height: 2rem;
    min-width: 3rem;
    height: 1rem;
  }

  main.main.sell_inventory .first-area ul li .hex:before,
  main.main.sell_inventory .first-area ul li .hex:after {
    position: absolute;
    content: '';
    width: 100%;
    left: 0;
    height: 1.1rem;
  }

  main.main.sell_inventory .first-area ul li .grey-hex {
    color: #948E8E;
  }

  main.main.sell_inventory .first-area ul li .grey-hex.border-hex:before,
  main.main.sell_inventory .first-area ul li .grey-hex.border-hex:after {
    border: 2px solid #948E8E;
  }

  main.main.sell_inventory .first-area ul li .grey-hex.border-hex:hover:before,
  main.main.sell_inventory .first-area ul li .grey-hex.border-hex:hover:after {
    background: #948E8E40;
  }

  main.main.sell_inventory .first-area ul li .grey-hex.border-hex:before {
    border-bottom: none;
  }

  main.main.sell_inventory .first-area ul li .grey-hex.border-hex:after {
    border-top: none;
  }

  main.main.sell_inventory .first-area ul li .grey-hex.border-hex:hover {
    color: #fff;
  }

  main.main.sell_inventory .first-area ul li .grey-hex:before {
    -webkit-transform: perspective(8px) rotateX(3deg);
            transform: perspective(8px) rotateX(3deg);
  }

  main.main.sell_inventory .first-area ul li .grey-hex:after {
    top: 1.1rem;
    -webkit-transform: perspective(8px) rotateX(-3deg);
            transform: perspective(8px) rotateX(-3deg);
  }

  main.main.sell_inventory .first-area ul li .gold-hex {
    color: #B88D48;
  }

  main.main.sell_inventory .first-area ul li .gold-hex.border-hex:before,
  main.main.sell_inventory .first-area ul li .gold-hex.border-hex:after {
    border: 2px solid #B88D48;
  }

  main.main.sell_inventory .first-area ul li .gold-hex.border-hex:hover:before,
  main.main.sell_inventory .first-area ul li .gold-hex.border-hex:hover:after {
    background: #B88D4840;
  }

  main.main.sell_inventory .first-area ul li .gold-hex.border-hex:before {
    border-bottom: none;
  }

  main.main.sell_inventory .first-area ul li .gold-hex.border-hex:after {
    border-top: none;
  }

  main.main.sell_inventory .first-area ul li .gold-hex.border-hex:hover {
    color: #fff;
  }

  main.main.sell_inventory .first-area ul li .gold-hex:before {
    -webkit-transform: perspective(14px) rotateX(3deg);
            transform: perspective(14px) rotateX(3deg);
  }

  main.main.sell_inventory .first-area ul li .gold-hex:after {
    top: 1.1rem;
    -webkit-transform: perspective(14px) rotateX(-3deg);
            transform: perspective(14px) rotateX(-3deg);
  }

  main.main.sell_inventory .second-area .area-head {
    padding: 1rem;
    color: #dadada;
    display: grid;
    grid-template-columns: 8fr 1fr;
    border-bottom: 2px solid #443F40;
    font-size: 1.3em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  main.main.sell_inventory .second-area .area-head div {
    padding-left: 6.5%;
  }

  main.main.sell_inventory .second-area .area-head .company {
    color: #B88D48;
  }

  main.main.sell_inventory .second-area .area-head svg {
    place-self: center;
    width: 70%;
    height: 50%;
  }

  main.main.sell_inventory .second-area .main-area {
    margin: 2rem;
    border: 1px solid #443F40;
    background: #161718;
  }

  main.main.sell_inventory .second-area .main-area .col {
    padding: 0;
  }

  div.modal-wrapper {
    background: #12141380;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  div.modal-wrapper div.sell_modal {
    border: 1px solid #B88D48;
    place-self: center;
    display: grid;
    grid-template-areas: "h h" "i t" "f f";
    background: #1A1B1D;
    width: 35vw;
  }

  div.modal-wrapper div.sell_modal .modal-head {
    grid-area: h;
    border-bottom: 1px solid #443F40;
    padding: .7rem 2vw;
    color: #B88D48;
    font-size: 1.4em;
    font-weight: bold;
  }

  div.modal-wrapper div.sell_modal .shop-item-modal {
    grid-area: i;
    margin: 1.5rem 2rem;
    background-color: #1A1B1D;
    border: 1px solid #443F40;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: 'Play', sans-serif;
    color: #fff;
    font-size: 0.7rem;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }

  div.modal-wrapper div.sell_modal .shop-item-modal img[alt=Item] {
    margin: 25px 0;
    width: 190px;
    height: 140px;
    background: -o-radial-gradient(50% 50%, 50% 50%, #43413F 0%, rgba(35, 33, 29, 0) 100%);
    background: radial-gradient(50% 50% at 50% 50%, #43413F 0%, rgba(35, 33, 29, 0) 100%);
  }

  div.modal-wrapper div.sell_modal .title {
    place-self: center start;
    grid-area: t;
    padding-right: 1rem;
    color: #DADADA;
  }

  div.modal-wrapper div.sell_modal .title > * {
    padding-bottom: 1rem;
  }

  div.modal-wrapper div.sell_modal .title .money {
    color: #B88D48;
  }

  div.modal-wrapper div.sell_modal .title button {
    border: none;
    border-radius: .2rem;
    padding: .7rem .8rem;
  }

  div.modal-wrapper div.sell_modal .title button.accept {
    background: #4CAF50;
  }

  div.modal-wrapper div.sell_modal .title button.cancel {
    background: #443F40;
  }

  div.modal-wrapper div.sell_modal .modal-footer {
    grid-area: f;
    border-top: 1px solid #443F40;
  }

  div.modal-wrapper div.sell_modal .modal-footer button {
    background: #FFAB2D;
    border: none;
    border-radius: .2rem;
    padding: .3rem .7rem;
  }

  div.modal-wrapper {
    background: #12141380;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }

  div.modal-wrapper div.main_modal {
    border: 1px solid #B88D48;
    place-self: center;
    display: grid;
    grid-template-areas: "h h" "c c" "f f";
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr 1fr;
    background: #1A1B1D;
    width: 35vw;
  }

  div.modal-wrapper div.main_modal .modal-head {
    grid-area: h;
    place-self: center;
    color: #B88D48;
  }

  div.modal-wrapper div.main_modal .modal-head h2 {
    padding-top: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
  }

  div.modal-wrapper div.main_modal .modal-cont {
    padding-bottom: 1.5rem;
    grid-area: c;
  }

  div.modal-wrapper div.main_modal .modal-cont .col {
    padding: .7rem 0;
    display: grid;
    grid-template-columns: 1fr 5fr;
    margin-right: 3rem;
  }

  div.modal-wrapper div.main_modal .modal-cont .col .status {
    place-self: center;
  }

  div.modal-wrapper div.main_modal .modal-cont .col.prime .content {
    background: #282828;
  }

  div.modal-wrapper div.main_modal .modal-cont .col .content {
    -ms-flex-item-align: center;
        align-self: center;
    text-align: center;
    padding: 1rem;
    color: #FFAB2D;
  }

  div.modal-wrapper div.main_modal .modal-cont .col .content h3 {
    font-size: 1.35em;
  }

  div.modal-wrapper div.main_modal .modal-cont .col .content div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  div.modal-wrapper div.main_modal .modal-cont .col .content div .search-input {
    padding-left: 0;
    width: 50%;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    height: 2.2rem;
    line-height: 1.7rem;
    margin: .75rem 0 1rem 1rem;
    font-size: 1.1rem;
  }

  div.modal-wrapper div.main_modal .modal-cont .col .content div .search-input input {
    background: transparent;
    border: none;
    outline: none;
    color: #B7B7B7;
    padding-left: .5rem;
    width: 50%;
    z-index: 1;
  }

  div.modal-wrapper div.main_modal .modal-cont .col .content div .search-input:before,
  div.modal-wrapper div.main_modal .modal-cont .col .content div .search-input:after {
    position: absolute;
    content: '';
    width: 100%;
    left: 0;
    height: 1.2rem;
  }

  div.modal-wrapper div.main_modal .modal-cont .col .content div .search-input:before {
    -webkit-transform: perspective(13px) rotateX(3deg);
            transform: perspective(13px) rotateX(3deg);
  }

  div.modal-wrapper div.main_modal .modal-cont .col .content div .search-input:after {
    top: 1.2rem;
    -webkit-transform: perspective(13px) rotateX(-3deg);
            transform: perspective(13px) rotateX(-3deg);
  }

  div.modal-wrapper div.main_modal .modal-cont .col .content div .search-input.border-input:before,
  div.modal-wrapper div.main_modal .modal-cont .col .content div .search-input.border-input:after {
    border: 2px solid #B88D48;
  }

  div.modal-wrapper div.main_modal .modal-cont .col .content div .search-input.border-input:before {
    border-bottom: none;
  }

  div.modal-wrapper div.main_modal .modal-cont .col .content div .search-input.border-input:after {
    border-top: none;
  }

  div.modal-wrapper div.main_modal .modal-cont .col .content div .search-input.border-input:hover {
    color: #fff;
  }

  div.modal-wrapper div.main_modal .modal-cont .col .content div .search-input img {
    padding-left: .25rem;
    width: 1.25rem;
  }

  div.modal-wrapper div.main_modal .modal-cont .col .content div .connect-btn {
    color: #121413;
    padding-left: .5rem;
    padding-right: .5rem;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    height: 2rem;
    line-height: 2rem;
    margin: .9rem 1rem 1rem 1rem;
    font-size: 1.1rem;
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    place-content: center;
  }

  div.modal-wrapper div.main_modal .modal-cont .col .content div .connect-btn span {
    position: relative;
    z-index: 10;
  }

  div.modal-wrapper div.main_modal .modal-cont .col .content div .connect-btn:before,
  div.modal-wrapper div.main_modal .modal-cont .col .content div .connect-btn:after {
    background: #FFAB2D;
    position: absolute;
    content: '';
    width: 100%;
    left: 0;
    height: 1.1rem;
  }

  div.modal-wrapper div.main_modal .modal-cont .col .content div .connect-btn:before {
    -webkit-transform: perspective(13px) rotateX(3deg);
            transform: perspective(13px) rotateX(3deg);
  }

  div.modal-wrapper div.main_modal .modal-cont .col .content div .connect-btn:after {
    top: 1.1rem;
    -webkit-transform: perspective(13px) rotateX(-3deg);
            transform: perspective(13px) rotateX(-3deg);
  }

  div.modal-wrapper div.main_modal .modal-cont .col .content div .connect-btn.border-btn:before,
  div.modal-wrapper div.main_modal .modal-cont .col .content div .connect-btn.border-btn:after {
    border: 2px solid #FFAB2D;
  }

  div.modal-wrapper div.main_modal .modal-cont .col .content div .connect-btn.border-btn:before {
    border-bottom: none;
  }

  div.modal-wrapper div.main_modal .modal-cont .col .content div .connect-btn.border-btn:after {
    border-top: none;
  }

  div.modal-wrapper div.main_modal .modal-cont .col .content div .connect-btn.border-btn:hover {
    color: #fff;
  }

  div.modal-wrapper div.main_modal .modal-cont .col.vk-acc .content,
  div.modal-wrapper div.main_modal .modal-cont .col.vk-group .content {
    border: 1px solid #443F40;
  }

  div.modal-wrapper div.main_modal .modal-footer {
    grid-area: f;
    border-top: 1px solid #443F40;
  }

  div.modal-wrapper div.main_modal .modal-footer button {
    background: transparent;
    color: #948E8E;
    border: 1px solid #443F40;
    border-radius: .2rem;
    padding: .3rem .7rem;
  }

  div.modal-wrapper div.main_modal .modal-footer button svg path {
    stroke: #948E8E;
    fill: #948E8E;
  }
}
@supports (-webkit-appearance:none){

}

 @media (min-width: 321px){

@supports (-webkit-appearance:none){

}

}
